<h1>Diazo-KA</h1>
<h2><a href="mol">Optimized geometry files</a></h2>
<h2><a href="out">Out files</a></h2>
<table border=1>
 <tr> <td>&#8470;</td> <td>Reaction</td> <td>dE0</td> <td>dG 298.15</td> <td>dH 298.15</td> <td>dS*T 298.15</td>  </tr>
 <tr><td><a href="#r1">1</a></td><td><a href="mol/Ph-N2-OTf.mol">Ph-N<sub>2</sub>-OTf</a> = <a href="mol/Ph-N2+.mol">Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>365.15</td> <td>316.70</td> <td>360.78</td> <td>44.12</td> </tr>
 <tr><td><a href="#r2">2</a></td><td><a href="mol/2-NO2-Ph-N2-OTf.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/2-NO2-Ph-N2+.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>391.77</td> <td>342.08</td> <td>386.39</td> <td>44.35</td> </tr>
 <tr><td><a href="#r3">3</a></td><td><a href="mol/3-NO2-Ph-N2-OTf.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/3-NO2-Ph-N2+.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>406.91</td> <td>355.65</td> <td>401.25</td> <td>45.63</td> </tr>
 <tr><td><a href="#r4">4</a></td><td><a href="mol/4-NO2-Ph-N2-OTf.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>408.03</td> <td>357.21</td> <td>402.39</td> <td>45.21</td> </tr>
 <tr><td><a href="#r5">5</a></td><td><a href="mol/4-NO2-Ph-N2-OTs.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/TsO-.mol">TsO-</a></td><td>446.67</td> <td>399.91</td> <td>440.57</td> <td>40.69</td> </tr>
 <tr><td><a href="#r6">6</a></td><td><a href="mol/4-NO2-Ph-N2-BF4.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/BF4-.mol">BF<sub>4</sub><sup>-</sup></a></td><td>438.56</td> <td>386.13</td> <td>432.81</td> <td>46.71</td> </tr>
 <tr><td><a href="#r7">7</a></td><td><a href="mol/4-CH3O-Ph-N2-OTf.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/4-CH3O-Ph-N2+.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>348.53</td> <td>302.47</td> <td>343.29</td> <td>40.85</td> </tr>
 <tr><td><a href="#r8">8</a></td><td><a href="mol/4-HOOC-Ph-N2-OTf.mol">4-HOOC-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/4-HOOC-Ph-N2+.mol">4-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>381.41</td> <td>333.59</td> <td>376.31</td> <td>42.74</td> </tr>
 <tr><td><a href="#r9">9</a></td><td><a href="mol/4-Br-Ph-N2-OTf.mol">4-Br-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/4-Br-Ph-N2+.mol">4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>375.52</td> <td>329.79</td> <td>370.80</td> <td>41.04</td> </tr>
 <tr><td><a href="#r10">10</a></td><td><a href="mol/2-HOOC-Ph-N2-OTf.mol">2-HOOC-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/2-HOOC-Ph-N2+.mol">2-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>367.89</td> <td>319.97</td> <td>362.96</td> <td>43.02</td> </tr>
 <tr><td><a href="#r11">11</a></td><td><a href="mol/2-HOOC-4-Br-Ph-N2-OTf.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/2-HOOC-4-Br-Ph-N2+.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></td><td>369.74</td> <td>322.28</td> <td>364.92</td> <td>42.67</td> </tr>
</table>
<h3 id="r1">Reaction: <a href="mol/Ph-N2-OTf.mol">Ph-N<sub>2</sub>-OTf</a> = <a href="mol/Ph-N2+.mol">Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-3419692.58</td> <td>-3419476.96</td> <td>-3419316.26</td> <td>160.81</td> <td>Group N11-N10-C2 Distance C-N=1.3963 Distance N-N=1.1376 Angle=153.17<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0020<br>
LUMO=-0.13485<br>
HOMO=-0.25474<br>
</td> </tr>
 <tr><td>Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-894914.73</td> <td>-894733.79</td> <td>-894635.68</td> <td>98.17</td> <td>Group N9-N8-C2 Distance C-N=1.3751 Distance N-N=1.1154 Angle=180.00<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29622<br>
HOMO=-0.45869<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>365.15</td> <td>316.70</td> <td>360.78</td> <td>44.12</td></tr>
</table><br>
<h3 id="r2">Reaction: <a href="mol/2-NO2-Ph-N2-OTf.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/2-NO2-Ph-N2+.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-NO2-Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-3956567.28</td> <td>-3956354.82</td> <td>-3956177.72</td> <td>177.23</td> <td>Group N9-N8-C2 Distance C-N=1.3882 Distance N-N=1.1193 Angle=159.85<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0083<br>
LUMO=-0.17343<br>
HOMO=-0.24584<br>
</td> </tr>
 <tr><td>2-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431762.81</td> <td>-1431586.26</td> <td>-1431471.52</td> <td>114.82</td> <td>Group N9-N8-C2 Distance C-N=1.3869 Distance N-N=1.1136 Angle=169.44<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0005<br>
LUMO=-0.31526<br>
HOMO=-0.47589<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>391.77</td> <td>342.08</td> <td>386.39</td> <td>44.35</td></tr>
</table><br>
<h3 id="r3">Reaction: <a href="mol/3-NO2-Ph-N2-OTf.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/3-NO2-Ph-N2+.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>3-NO2-Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-3956586.37</td> <td>-3956373.65</td> <td>-3956196.76</td> <td>177.00</td> <td>Group N10-N9-C2 Distance C-N=1.3928 Distance N-N=1.1201 Angle=169.48<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=719.99(100.00%) SumDistance=0.0231<br>
LUMO=-0.15533<br>
HOMO=-0.25957<br>
</td> </tr>
 <tr><td>3-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431766.76</td> <td>-1431591.51</td> <td>-1431475.71</td> <td>115.88</td> <td>Group N10-N9-C2 Distance C-N=1.3800 Distance N-N=1.1142 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.31471<br>
HOMO=-0.45006<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>406.91</td> <td>355.65</td> <td>401.25</td> <td>45.63</td></tr>
</table><br>
<h3 id="r4">Reaction: <a href="mol/4-NO2-Ph-N2-OTf.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-NO2-Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-3956584.40</td> <td>-3956373.29</td> <td>-3956195.05</td> <td>178.35</td> <td>Group N14-N13-C2 Distance C-N=1.3935 Distance N-N=1.1203 Angle=168.76<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=719.99(100.00%) SumDistance=0.0258<br>
LUMO=-0.16615<br>
HOMO=-0.26137<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>408.03</td> <td>357.21</td> <td>402.39</td> <td>45.21</td></tr>
</table><br>
<h3 id="r5">Reaction: <a href="mol/4-NO2-Ph-N2-OTs.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/TsO-.mol">TsO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-NO2-Ph-N2-OTs</td> <td>-1.0</td> <td>298.15</td> <td>-3781620.53</td> <td>-3781155.69</td> <td>-3780951.90</td> <td>203.93</td> <td>LUMO=-0.13013<br>
HOMO=-0.26439<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>TsO-</td> <td>1.0</td> <td>298.15</td> <td>-2349410.19</td> <td>-2349166.20</td> <td>-2349038.47</td> <td>127.82</td> <td>Ring C5-C0-C1-C2-C3-C4 SumAnges=720.00(100.00%) SumDistance=0.0073<br>
LUMO=0.11894<br>
HOMO=-0.0597<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>446.67</td> <td>399.91</td> <td>440.57</td> <td>40.69</td></tr>
</table><br>
<h3 id="r6">Reaction: <a href="mol/4-NO2-Ph-N2-BF4.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/BF4-.mol">BF<sub>4</sub><sup>-</sup></a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-NO2-Ph-N2-BF4</td> <td>-1.0</td> <td>298.15</td> <td>-2546724.41</td> <td>-2546532.07</td> <td>-2546375.63</td> <td>156.55</td> <td>Group N14-N13-C2 Distance C-N=1.3931 Distance N-N=1.1131 Angle=174.62<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0152<br>
LUMO=-0.17308<br>
HOMO=-0.3088<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>BF4-</td> <td>1.0</td> <td>298.15</td> <td>-1114522.18</td> <td>-1114556.35</td> <td>-1114469.95</td> <td>86.46</td> <td>LUMO=0.45847<br>
HOMO=-0.11511<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>438.56</td> <td>386.13</td> <td>432.81</td> <td>46.71</td></tr>
</table><br>
<h3 id="r7">Reaction: <a href="mol/4-CH3O-Ph-N2-OTf.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/4-CH3O-Ph-N2+.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-CH3O-Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-3720404.73</td> <td>-3720114.58</td> <td>-3719934.59</td> <td>180.11</td> <td>Group N11-N10-C2 Distance C-N=1.3649 Distance N-N=1.1145 Angle=178.65<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0097<br>
LUMO=-0.13657<br>
HOMO=-0.22055<br>
</td> </tr>
 <tr><td>4-CH3O-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1195643.49</td> <td>-1195385.63</td> <td>-1195271.50</td> <td>114.21</td> <td>Group N11-N10-C2 Distance C-N=1.3567 Distance N-N=1.1208 Angle=179.79<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.26975<br>
HOMO=-0.41657<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>348.53</td> <td>302.47</td> <td>343.29</td> <td>40.85</td></tr>
</table><br>
<h3 id="r8">Reaction: <a href="mol/4-HOOC-Ph-N2-OTf.mol">4-HOOC-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/4-HOOC-Ph-N2+.mol">4-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-HOOC-Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-3914795.19</td> <td>-3914553.55</td> <td>-3914372.13</td> <td>181.54</td> <td>Group N11-N10-C1 Distance C-N=1.3903 Distance N-N=1.1232 Angle=168.17<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0208<br>
LUMO=-0.15263<br>
HOMO=-0.24737<br>
</td> </tr>
 <tr><td>4-HOOC-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1390001.08</td> <td>-1389793.48</td> <td>-1389676.03</td> <td>117.53</td> <td>Group N11-N10-C1 Distance C-N=1.3764 Distance N-N=1.1152 Angle=179.88<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.30284<br>
HOMO=-0.42825<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>381.41</td> <td>333.59</td> <td>376.31</td> <td>42.74</td></tr>
</table><br>
<h3 id="r9">Reaction: <a href="mol/4-Br-Ph-N2-OTf.mol">4-Br-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/4-Br-Ph-N2+.mol">4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-Br-Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-10170123.10</td> <td>-10169945.45</td> <td>-10169769.53</td> <td>176.03</td> <td>Group N11-N10-C1 Distance C-N=1.3838 Distance N-N=1.1229 Angle=172.26<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0154<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=719.99(100.00%) SumDistance=0.0154<br>
LUMO=-0.14605<br>
HOMO=-0.2438<br>
</td> </tr>
 <tr><td>4-Br-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-7645334.89</td> <td>-7645189.17</td> <td>-7645078.93</td> <td>110.32</td> <td>Group N11-N10-C1 Distance C-N=1.3678 Distance N-N=1.1176 Angle=179.97<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.29334<br>
HOMO=-0.42726<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>375.52</td> <td>329.79</td> <td>370.80</td> <td>41.04</td></tr>
</table><br>
<h3 id="r10">Reaction: <a href="mol/2-HOOC-Ph-N2-OTf.mol">2-HOOC-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/2-HOOC-Ph-N2+.mol">2-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-HOOC-Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-3914793.99</td> <td>-3914550.63</td> <td>-3914370.79</td> <td>179.97</td> <td>Group N11-N10-C1 Distance C-N=1.3941 Distance N-N=1.1203 Angle=163.02<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0161<br>
LUMO=-0.14681<br>
HOMO=-0.23998<br>
</td> </tr>
 <tr><td>2-HOOC-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1390013.40</td> <td>-1389804.17</td> <td>-1389688.02</td> <td>116.23</td> <td>Group N11-N10-C1 Distance C-N=1.3884 Distance N-N=1.1135 Angle=170.70<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29406<br>
HOMO=-0.45498<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>367.89</td> <td>319.97</td> <td>362.96</td> <td>43.02</td></tr>
</table><br>
<h3 id="r11">Reaction: <a href="mol/2-HOOC-4-Br-Ph-N2-OTf.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/2-HOOC-4-Br-Ph-N2+.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/TfO-.mol">TfO-</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph-N2-OTf</td> <td>-1.0</td> <td>298.15</td> <td>-10665214.19</td> <td>-10665006.44</td> <td>-10664814.13</td> <td>192.44</td> <td>Group N10-N9-C1 Distance C-N=1.3903 Distance N-N=1.1212 Angle=163.01<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0165<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=719.99(100.00%) SumDistance=0.0165<br>
LUMO=-0.15195<br>
HOMO=-0.24292<br>
</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-8140431.75</td> <td>-8140257.68</td> <td>-8140129.41</td> <td>128.36</td> <td>Group N10-N9-C1 Distance C-N=1.3793 Distance N-N=1.1153 Angle=171.69<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29247<br>
HOMO=-0.42611<br>
</td> </tr>
 <tr><td>TfO-</td> <td>1.0</td> <td>298.15</td> <td>-2524412.70</td> <td>-2524426.48</td> <td>-2524319.80</td> <td>106.75</td> <td>LUMO=0.27649<br>
HOMO=-0.07428<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>369.74</td> <td>322.28</td> <td>364.92</td> <td>42.67</td></tr>
</table><br>
