<h1>Diazo-N2</h1>
<table border=1>
 <tr> <td>&#8470;</td> <td>Reaction</td> <td>dE0</td> <td>dG 298.15</td> <td>dH 298.15</td> <td>dS*T 298.15</td>  </tr>
 <tr><td><a href="#r1">1</a></td><td><a href="mol/Ph-N2+-USinglet.mol">Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/Ph+-USinglet.mol">Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>146.51</td> <td>82.64</td> <td>129.36</td> <td>46.75</td> </tr>
 <tr><td><a href="#r2">2</a></td><td><a href="mol/Ph-N2+-USinglet.mol">Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/Ph+-UTriplet.mol">Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>226.20</td> <td>162.01</td> <td>211.22</td> <td>49.25</td> </tr>
 <tr><td><a href="#r3">3</a></td><td><a href="mol/2-NO2-Ph-N2+-USinglet.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-NO2-Ph+-USinglet.mol">2-NO<sub>2</sub>-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>-61.41</td> <td>-123.84</td> <td>-73.30</td> <td>50.57</td> </tr>
 <tr><td><a href="#r4">4</a></td><td><a href="mol/2-NO2-Ph-N2+-USinglet.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-NO2-Ph+-UTriplet.mol">2-NO<sub>2</sub>-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>236.66</td> <td>167.96</td> <td>220.57</td> <td>52.65</td> </tr>
 <tr><td><a href="#r5">5</a></td><td><a href="mol/3-NO2-Ph-N2+-USinglet.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/3-NO2-Ph+-USinglet.mol">3-NO<sub>2</sub>-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>154.35</td> <td>91.30</td> <td>137.60</td> <td>46.33</td> </tr>
 <tr><td><a href="#r6">6</a></td><td><a href="mol/3-NO2-Ph-N2+-USinglet.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/3-NO2-Ph+-UTriplet.mol">3-NO<sub>2</sub>-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>235.16</td> <td>169.26</td> <td>219.51</td> <td>50.28</td> </tr>
 <tr><td><a href="#r7">7</a></td><td><a href="mol/4-NO2-Ph-N2+-USinglet.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-NO2-Ph+-USinglet.mol">4-NO<sub>2</sub>-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>158.28</td> <td>95.37</td> <td>141.38</td> <td>46.04</td> </tr>
 <tr><td><a href="#r8">8</a></td><td><a href="mol/4-NO2-Ph-N2+-USinglet.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-NO2-Ph+-UTriplet.mol">4-NO<sub>2</sub>-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>226.48</td> <td>159.35</td> <td>211.15</td> <td>51.83</td> </tr>
 <tr><td><a href="#r9">9</a></td><td><a href="mol/4-CH3O-Ph-N2+-USinglet.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-CH3O-Ph+-USinglet.mol">4-CH<sub>3</sub>O-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>180.96</td> <td>115.55</td> <td>163.35</td> <td>47.83</td> </tr>
 <tr><td><a href="#r10">10</a></td><td><a href="mol/4-CH3O-Ph-N2+-USinglet.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-CH3O-Ph+-UTriplet.mol">4-CH<sub>3</sub>O-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>165.01</td> <td>104.32</td> <td>152.68</td> <td>48.40</td> </tr>
 <tr><td><a href="#r11">11</a></td><td><a href="mol/2-HOOC-Ph-N2+-USinglet.mol">2-HOOC-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-HOOC-Ph+-USinglet.mol">2-HOOC-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>166.04</td> <td>100.08</td> <td>149.45</td> <td>49.40</td> </tr>
 <tr><td><a href="#r12">12</a></td><td><a href="mol/2-HOOC-Ph-N2+-USinglet.mol">2-HOOC-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-HOOC-Ph+-UTriplet.mol">2-HOOC-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>239.00</td> <td>171.23</td> <td>223.06</td> <td>51.86</td> </tr>
 <tr><td><a href="#r13">13</a></td><td><a href="mol/4-HOOC-Ph-N2+-USinglet.mol">4-HOOC-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-HOOC-Ph+-USinglet.mol">4-HOOC-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>148.67</td> <td>84.83</td> <td>131.52</td> <td>46.72</td> </tr>
 <tr><td><a href="#r14">14</a></td><td><a href="mol/4-HOOC-Ph-N2+-USinglet.mol">4-HOOC-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-HOOC-Ph+-UTriplet.mol">4-HOOC-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>219.71</td> <td>154.93</td> <td>204.73</td> <td>49.84</td> </tr>
 <tr><td><a href="#r15">15</a></td><td><a href="mol/4-Br-Ph-N2+-USinglet.mol">4-Br-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-Br-Ph+-USinglet.mol">4-Br-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>165.99</td> <td>100.91</td> <td>148.44</td> <td>47.56</td> </tr>
 <tr><td><a href="#r16">16</a></td><td><a href="mol/4-Br-Ph-N2+-USinglet.mol">4-Br-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-Br-Ph+-UTriplet.mol">4-Br-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>186.02</td> <td>125.25</td> <td>173.69</td> <td>48.47</td> </tr>
 <tr><td><a href="#r17">17</a></td><td><a href="mol/2-HOOC-4-Br-Ph-N2+-USinglet.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-HOOC-4-Br-Ph+-USinglet.mol">2-HOOC-4-Br-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>183.66</td> <td>116.23</td> <td>166.60</td> <td>50.40</td> </tr>
 <tr><td><a href="#r18">18</a></td><td><a href="mol/2-HOOC-4-Br-Ph-N2+-USinglet.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-HOOC-4-Br-Ph+-UTriplet.mol">2-HOOC-4-Br-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></td><td>201.87</td> <td>137.40</td> <td>189.09</td> <td>51.73</td> </tr>
</table>
<h3 id="r1">Reaction: <a href="mol/Ph-N2+-USinglet.mol">Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/Ph+-USinglet.mol">Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-894982.56</td> <td>-894803.42</td> <td>-894705.10</td> <td>98.39</td> <td>Group N9-N8-C2 Distance C-N=1.3832 Distance N-N=1.1138 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.30012<br>
HOMO=-0.46336<br>
</td> </tr>
 <tr><td>Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-607231.38</td> <td>-607082.31</td> <td>-606994.38</td> <td>87.99</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.35345<br>
HOMO=-0.48984<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>146.51</td> <td>82.64</td> <td>129.36</td> <td>46.75</td></tr>
</table><br>
<h3 id="r2">Reaction: <a href="mol/Ph-N2+-USinglet.mol">Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/Ph+-UTriplet.mol">Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-894982.56</td> <td>-894803.42</td> <td>-894705.10</td> <td>98.39</td> <td>Group N9-N8-C2 Distance C-N=1.3832 Distance N-N=1.1138 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.30012<br>
HOMO=-0.46336<br>
</td> </tr>
 <tr><td>Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-607151.69</td> <td>-607002.94</td> <td>-606912.51</td> <td>90.49</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.41094<br>
HOMO=-0.48444<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>226.20</td> <td>162.01</td> <td>211.22</td> <td>49.25</td></tr>
</table><br>
<h3 id="r3">Reaction: <a href="mol/2-NO2-Ph-N2+-USinglet.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-NO2-Ph+-USinglet.mol">2-NO<sub>2</sub>-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-NO2-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1431933.01</td> <td>-1431758.01</td> <td>-1431643.03</td> <td>115.06</td> <td>Group N9-N8-C2 Distance C-N=1.3922 Distance N-N=1.1118 Angle=169.68<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0006<br>
LUMO=-0.31957<br>
HOMO=-0.48393<br>
</td> </tr>
 <tr><td>2-NO2-Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-1144389.76</td> <td>-1144243.38</td> <td>-1144134.96</td> <td>108.49</td> <td>LUMO=-0.35819<br>
HOMO=-0.45432<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>-61.41</td> <td>-123.84</td> <td>-73.30</td> <td>50.57</td></tr>
</table><br>
<h3 id="r4">Reaction: <a href="mol/2-NO2-Ph-N2+-USinglet.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-NO2-Ph+-UTriplet.mol">2-NO<sub>2</sub>-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-NO2-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1431933.01</td> <td>-1431758.01</td> <td>-1431643.03</td> <td>115.06</td> <td>Group N9-N8-C2 Distance C-N=1.3922 Distance N-N=1.1118 Angle=169.68<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0006<br>
LUMO=-0.31957<br>
HOMO=-0.48393<br>
</td> </tr>
 <tr><td>2-NO2-Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-1144091.69</td> <td>-1143951.58</td> <td>-1143841.09</td> <td>110.56</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=719.97(100.00%) SumDistance=0.0287<br>
LUMO=-0.42357<br>
HOMO=-0.4933<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>236.66</td> <td>167.96</td> <td>220.57</td> <td>52.65</td></tr>
</table><br>
<h3 id="r5">Reaction: <a href="mol/3-NO2-Ph-N2+-USinglet.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/3-NO2-Ph+-USinglet.mol">3-NO<sub>2</sub>-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>3-NO2-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1431937.43</td> <td>-1431764.27</td> <td>-1431647.98</td> <td>116.37</td> <td>Group N10-N9-C2 Distance C-N=1.3873 Distance N-N=1.1129 Angle=180.00<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.31829<br>
HOMO=-0.45948<br>
</td> </tr>
 <tr><td>3-NO2-Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-1144178.41</td> <td>-1144034.49</td> <td>-1143929.01</td> <td>105.55</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0013<br>
LUMO=-0.37271<br>
HOMO=-0.49038<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>154.35</td> <td>91.30</td> <td>137.60</td> <td>46.33</td></tr>
</table><br>
<h3 id="r6">Reaction: <a href="mol/3-NO2-Ph-N2+-USinglet.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/3-NO2-Ph+-UTriplet.mol">3-NO<sub>2</sub>-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>3-NO2-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1431937.43</td> <td>-1431764.27</td> <td>-1431647.98</td> <td>116.37</td> <td>Group N10-N9-C2 Distance C-N=1.3873 Distance N-N=1.1129 Angle=180.00<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.31829<br>
HOMO=-0.45948<br>
</td> </tr>
 <tr><td>3-NO2-Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-1144097.61</td> <td>-1143956.52</td> <td>-1143847.10</td> <td>109.49</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0123<br>
LUMO=-0.42559<br>
HOMO=-0.48878<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>235.16</td> <td>169.26</td> <td>219.51</td> <td>50.28</td></tr>
</table><br>
<h3 id="r7">Reaction: <a href="mol/4-NO2-Ph-N2+-USinglet.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-NO2-Ph+-USinglet.mol">4-NO<sub>2</sub>-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-NO2-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1431934.90</td> <td>-1431762.64</td> <td>-1431645.46</td> <td>117.26</td> <td>Group N14-N13-C2 Distance C-N=1.3887 Distance N-N=1.1126 Angle=180.00<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32409<br>
HOMO=-0.45681<br>
</td> </tr>
 <tr><td>4-NO2-Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-1144171.95</td> <td>-1144028.80</td> <td>-1143922.71</td> <td>106.15</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0002<br>
LUMO=-0.37581<br>
HOMO=-0.47245<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>158.28</td> <td>95.37</td> <td>141.38</td> <td>46.04</td></tr>
</table><br>
<h3 id="r8">Reaction: <a href="mol/4-NO2-Ph-N2+-USinglet.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-NO2-Ph+-UTriplet.mol">4-NO<sub>2</sub>-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-NO2-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1431934.90</td> <td>-1431762.64</td> <td>-1431645.46</td> <td>117.26</td> <td>Group N14-N13-C2 Distance C-N=1.3887 Distance N-N=1.1126 Angle=180.00<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32409<br>
HOMO=-0.45681<br>
</td> </tr>
 <tr><td>4-NO2-Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-1144103.76</td> <td>-1143964.81</td> <td>-1143852.94</td> <td>111.94</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0037<br>
LUMO=-0.42268<br>
HOMO=-0.48992<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>226.48</td> <td>159.35</td> <td>211.15</td> <td>51.83</td></tr>
</table><br>
<h3 id="r9">Reaction: <a href="mol/4-CH3O-Ph-N2+-USinglet.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-CH3O-Ph+-USinglet.mol">4-CH<sub>3</sub>O-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-CH3O-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1195743.66</td> <td>-1195488.00</td> <td>-1195373.89</td> <td>114.18</td> <td>Group N11-N10-C2 Distance C-N=1.3636 Distance N-N=1.1193 Angle=179.75<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.27456<br>
HOMO=-0.42206<br>
</td> </tr>
 <tr><td>4-CH3O-Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-907958.03</td> <td>-907733.97</td> <td>-907629.18</td> <td>104.86</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=717.04(99.59%) SumDistance=0.2466<br>
LUMO=-0.34165<br>
HOMO=-0.42997<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>180.96</td> <td>115.55</td> <td>163.35</td> <td>47.83</td></tr>
</table><br>
<h3 id="r10">Reaction: <a href="mol/4-CH3O-Ph-N2+-USinglet.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-CH3O-Ph+-UTriplet.mol">4-CH<sub>3</sub>O-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-CH3O-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1195743.66</td> <td>-1195488.00</td> <td>-1195373.89</td> <td>114.18</td> <td>Group N11-N10-C2 Distance C-N=1.3636 Distance N-N=1.1193 Angle=179.75<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.27456<br>
HOMO=-0.42206<br>
</td> </tr>
 <tr><td>4-CH3O-Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-907973.99</td> <td>-907745.20</td> <td>-907639.84</td> <td>105.43</td> <td>Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.36122<br>
HOMO=-0.45127<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>165.01</td> <td>104.32</td> <td>152.68</td> <td>48.40</td></tr>
</table><br>
<h3 id="r11">Reaction: <a href="mol/2-HOOC-Ph-N2+-USinglet.mol">2-HOOC-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-HOOC-Ph+-USinglet.mol">2-HOOC-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-HOOC-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1390163.91</td> <td>-1389955.92</td> <td>-1389839.78</td> <td>116.22</td> <td>Group N11-N10-C1 Distance C-N=1.3952 Distance N-N=1.1117 Angle=170.75<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29935<br>
HOMO=-0.46401<br>
</td> </tr>
 <tr><td>2-HOOC-Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-1102393.21</td> <td>-1102217.37</td> <td>-1102108.97</td> <td>108.47</td> <td>Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0004<br>
LUMO=-0.35421<br>
HOMO=-0.47265<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>166.04</td> <td>100.08</td> <td>149.45</td> <td>49.40</td></tr>
</table><br>
<h3 id="r12">Reaction: <a href="mol/2-HOOC-Ph-N2+-USinglet.mol">2-HOOC-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-HOOC-Ph+-UTriplet.mol">2-HOOC-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-HOOC-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1390163.91</td> <td>-1389955.92</td> <td>-1389839.78</td> <td>116.22</td> <td>Group N11-N10-C1 Distance C-N=1.3952 Distance N-N=1.1117 Angle=170.75<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29935<br>
HOMO=-0.46401<br>
</td> </tr>
 <tr><td>2-HOOC-Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-1102320.25</td> <td>-1102146.21</td> <td>-1102035.35</td> <td>110.93</td> <td>Ring C1-C0-C5-C4-C3-C2 SumAnges=719.93(99.99%) SumDistance=0.0420<br>
LUMO=-0.40431<br>
HOMO=-0.46998<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>239.00</td> <td>171.23</td> <td>223.06</td> <td>51.86</td></tr>
</table><br>
<h3 id="r13">Reaction: <a href="mol/4-HOOC-Ph-N2+-USinglet.mol">4-HOOC-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-HOOC-Ph+-USinglet.mol">4-HOOC-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-HOOC-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1390152.11</td> <td>-1389946.02</td> <td>-1389828.46</td> <td>117.64</td> <td>Group N11-N10-C1 Distance C-N=1.3844 Distance N-N=1.1136 Angle=179.89<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.30815<br>
HOMO=-0.43805<br>
</td> </tr>
 <tr><td>4-HOOC-Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-1102398.78</td> <td>-1102222.71</td> <td>-1102115.58</td> <td>107.21</td> <td>Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0006<br>
LUMO=-0.35718<br>
HOMO=-0.4503<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>148.67</td> <td>84.83</td> <td>131.52</td> <td>46.72</td></tr>
</table><br>
<h3 id="r14">Reaction: <a href="mol/4-HOOC-Ph-N2+-USinglet.mol">4-HOOC-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-HOOC-Ph+-UTriplet.mol">4-HOOC-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-HOOC-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-1390152.11</td> <td>-1389946.02</td> <td>-1389828.46</td> <td>117.64</td> <td>Group N11-N10-C1 Distance C-N=1.3844 Distance N-N=1.1136 Angle=179.89<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.30815<br>
HOMO=-0.43805<br>
</td> </tr>
 <tr><td>4-HOOC-Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-1102327.75</td> <td>-1102152.62</td> <td>-1102042.36</td> <td>110.33</td> <td>Ring C1-C0-C5-C4-C3-C2 SumAnges=719.85(99.98%) SumDistance=0.0685<br>
LUMO=-0.40269<br>
HOMO=-0.46818<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>219.71</td> <td>154.93</td> <td>204.73</td> <td>49.84</td></tr>
</table><br>
<h3 id="r15">Reaction: <a href="mol/4-Br-Ph-N2+-USinglet.mol">4-Br-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-Br-Ph+-USinglet.mol">4-Br-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-Br-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-7651842.96</td> <td>-7651699.06</td> <td>-7651588.52</td> <td>110.62</td> <td>Group N11-N10-C1 Distance C-N=1.3747 Distance N-N=1.1162 Angle=179.95<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.29735<br>
HOMO=-0.43221<br>
</td> </tr>
 <tr><td>4-Br-Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-7364072.30</td> <td>-7363959.68</td> <td>-7363858.71</td> <td>101.04</td> <td>Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0007<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0007<br>
LUMO=-0.35808<br>
HOMO=-0.43837<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>165.99</td> <td>100.91</td> <td>148.44</td> <td>47.56</td></tr>
</table><br>
<h3 id="r16">Reaction: <a href="mol/4-Br-Ph-N2+-USinglet.mol">4-Br-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/4-Br-Ph+-UTriplet.mol">4-Br-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>4-Br-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-7651842.96</td> <td>-7651699.06</td> <td>-7651588.52</td> <td>110.62</td> <td>Group N11-N10-C1 Distance C-N=1.3747 Distance N-N=1.1162 Angle=179.95<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.29735<br>
HOMO=-0.43221<br>
</td> </tr>
 <tr><td>4-Br-Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-7364052.27</td> <td>-7363935.33</td> <td>-7363833.46</td> <td>101.94</td> <td>Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0007<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0007<br>
LUMO=-0.39169<br>
HOMO=-0.4669<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>186.02</td> <td>125.25</td> <td>173.69</td> <td>48.47</td></tr>
</table><br>
<h3 id="r17">Reaction: <a href="mol/2-HOOC-4-Br-Ph-N2+-USinglet.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-HOOC-4-Br-Ph+-USinglet.mol">2-HOOC-4-Br-Ph+-USinglet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-8147022.14</td> <td>-8146849.55</td> <td>-8146721.16</td> <td>128.48</td> <td>Group N10-N9-C1 Distance C-N=1.3860 Distance N-N=1.1134 Angle=171.58<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29765<br>
HOMO=-0.432<br>
</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph+-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-7859233.82</td> <td>-7859094.85</td> <td>-7858973.20</td> <td>121.73</td> <td>Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0007<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0007<br>
LUMO=-0.35825<br>
HOMO=-0.43871<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>183.66</td> <td>116.23</td> <td>166.60</td> <td>50.40</td></tr>
</table><br>
<h3 id="r18">Reaction: <a href="mol/2-HOOC-4-Br-Ph-N2+-USinglet.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+-USinglet</a> = <a href="mol/2-HOOC-4-Br-Ph+-UTriplet.mol">2-HOOC-4-Br-Ph+-UTriplet</a> + <a href="mol/N2-USinglet.mol">N<sub>2</sub>-USinglet</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph-N2+-USinglet</td> <td>-1.0</td> <td>298.15</td> <td>-8147022.14</td> <td>-8146849.55</td> <td>-8146721.16</td> <td>128.48</td> <td>Group N10-N9-C1 Distance C-N=1.3860 Distance N-N=1.1134 Angle=171.58<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29765<br>
HOMO=-0.432<br>
</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph+-UTriplet</td> <td>1.0</td> <td>298.15</td> <td>-7859215.61</td> <td>-7859073.68</td> <td>-7858950.71</td> <td>123.06</td> <td>Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.39448<br>
HOMO=-0.44917<br>
</td> </tr>
 <tr><td>N2-USinglet</td> <td>1.0</td> <td>298.15</td> <td>-287604.66</td> <td>-287638.48</td> <td>-287581.37</td> <td>57.15</td> <td>LUMO=-0.03975<br>
HOMO=-0.43847<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>201.87</td> <td>137.40</td> <td>189.09</td> <td>51.73</td></tr>
</table><br>
