<h3>Scheme-5-6</h3>
<table border=1>
 <tr> <td>N</td> <td valign="center" align="center">Reaction </td> <td valign="center" align="right"> dE</td> <td valign="center" align="right"> dG 298.15</td> <td valign="center" align="right"> dH 298.15</td> <td valign="center" align="right"> dS*298.15</td> </tr>
 <tr bgcolor="#eeeeee"> <td>1</td> <td valign="center" align="center">1a = 1a-I + HOTf</td> <td valign="center" align="right"> 227.00</td> <td valign="center" align="right"> 167.23</td> <td valign="center" align="right"> 215.76</td> <td valign="center" align="right"> 48.57</td> </tr>
 <tr> <td>2</td> <td valign="center" align="center">1a-A+ + 1a-I = 1a-D+</td> <td valign="center" align="right"> -345.98</td> <td valign="center" align="right"> -277.72</td> <td valign="center" align="right"> -332.55</td> <td valign="center" align="right"> -54.87</td> </tr>
 <tr bgcolor="#eeeeee"> <td>3</td> <td valign="center" align="center">1f = 1f-I + HOTf</td> <td valign="center" align="right"> 225.75</td> <td valign="center" align="right"> 165.20</td> <td valign="center" align="right"> 214.58</td> <td valign="center" align="right"> 49.42</td> </tr>
 <tr> <td>4</td> <td valign="center" align="center">1f-A+ + 1f-I = 1f-D+</td> <td valign="center" align="right"> -317.66</td> <td valign="center" align="right"> -246.69</td> <td valign="center" align="right"> -304.89</td> <td valign="center" align="right"> -58.24</td> </tr>
 <tr bgcolor="#eeeeee"> <td>5</td> <td valign="center" align="center">1g = 1g-I + HOTf</td> <td valign="center" align="right"> 230.06</td> <td valign="center" align="right"> 170.62</td> <td valign="center" align="right"> 218.75</td> <td valign="center" align="right"> 48.17</td> </tr>
 <tr> <td>6</td> <td valign="center" align="center">1g-A+ + 1g-I = 1g-D+</td> <td valign="center" align="right"> -340.69</td> <td valign="center" align="right"> -271.56</td> <td valign="center" align="right"> -327.47</td> <td valign="center" align="right"> -55.95</td> </tr>
 <tr bgcolor="#eeeeee"> <td>7</td> <td valign="center" align="center">1h = 1h-I + HOTf</td> <td valign="center" align="right"> 218.16</td> <td valign="center" align="right"> 161.27</td> <td valign="center" align="right"> 207.05</td> <td valign="center" align="right"> 45.81</td> </tr>
 <tr> <td>8</td> <td valign="center" align="center">1h-A+ + 1h-I = 1h-D+</td> <td valign="center" align="right"> -330.71</td> <td valign="center" align="right"> -262.53</td> <td valign="center" align="right"> -317.70</td> <td valign="center" align="right"> -55.21</td> </tr>
 <tr bgcolor="#eeeeee"> <td>9</td> <td valign="center" align="center">1i = 1i-I + HOTf</td> <td valign="center" align="right"> 210.71</td> <td valign="center" align="right"> 151.04</td> <td valign="center" align="right"> 200.01</td> <td valign="center" align="right"> 49.00</td> </tr>
 <tr> <td>10</td> <td valign="center" align="center">1i-A+ + 1i-I = 1i-D+</td> <td valign="center" align="right"> -302.67</td> <td valign="center" align="right"> -233.11</td> <td valign="center" align="right"> -290.45</td> <td valign="center" align="right"> -57.38</td> </tr>
 <tr bgcolor="#eeeeee"> <td>11</td> <td valign="center" align="center">1a-A+ + 1a-F = 1a-G+</td> <td valign="center" align="right"> -84.18</td> <td valign="center" align="right"> -30.40</td> <td valign="center" align="right"> -82.47</td> <td valign="center" align="right"> -52.11</td> </tr>
 <tr> <td>12</td> <td valign="center" align="center">1a-G+ + 1a-F = 1a-P1+</td> <td valign="center" align="right"> -748.16</td> <td valign="center" align="right"> -653.03</td> <td valign="center" align="right"> -721.79</td> <td valign="center" align="right"> -68.80</td> </tr>
 <tr bgcolor="#eeeeee"> <td>13</td> <td valign="center" align="center">1a-P1+ + 1a-F = 1a-P2+</td> <td valign="center" align="right"> -42.67</td> <td valign="center" align="right"> 1.66</td> <td valign="center" align="right"> -43.14</td> <td valign="center" align="right"> -44.83</td> </tr>
 <tr> <td>14</td> <td valign="center" align="center">1a-P2+ + 1a-F = 1a-P3+</td> <td valign="center" align="right"> -587.42</td> <td valign="center" align="right"> -502.60</td> <td valign="center" align="right"> -567.47</td> <td valign="center" align="right"> -64.91</td> </tr>
 <tr bgcolor="#eeeeee"> <td>15</td> <td valign="center" align="center">1a-A+ + 1a-F = 1a-H+</td> <td valign="center" align="right"> -207.71</td> <td valign="center" align="right"> -138.03</td> <td valign="center" align="right"> -196.07</td> <td valign="center" align="right"> -58.08</td> </tr>
 <tr> <td>16</td> <td valign="center" align="center">1a-H+ = 1a-G+</td> <td valign="center" align="right"> 123.53</td> <td valign="center" align="right"> 107.63</td> <td valign="center" align="right"> 113.59</td> <td valign="center" align="right"> 5.97</td> </tr>
 <tr bgcolor="#eeeeee"> <td>17</td> <td valign="center" align="center">1g-A+ + 1g-F = 1g-G+</td> <td valign="center" align="right"> -71.25</td> <td valign="center" align="right"> -18.46</td> <td valign="center" align="right"> -70.10</td> <td valign="center" align="right"> -51.67</td> </tr>
 <tr> <td>18</td> <td valign="center" align="center">1g-G+ + 1g-F = 1g-P1+</td> <td valign="center" align="right"> -749.67</td> <td valign="center" align="right"> -654.67</td> <td valign="center" align="right"> -723.85</td> <td valign="center" align="right"> -69.23</td> </tr>
 <tr bgcolor="#eeeeee"> <td>19</td> <td valign="center" align="center">1g-P1+ + 1g-F = 1g-P2+</td> <td valign="center" align="right"> -35.04</td> <td valign="center" align="right"> 8.92</td> <td valign="center" align="right"> -36.20</td> <td valign="center" align="right"> -45.15</td> </tr>
 <tr> <td>20</td> <td valign="center" align="center">1g-P2+ + 1g-F = 1g-P3+</td> <td valign="center" align="right"> -590.44</td> <td valign="center" align="right"> -508.16</td> <td valign="center" align="right"> -570.51</td> <td valign="center" align="right"> -62.40</td> </tr>
 <tr bgcolor="#eeeeee"> <td>21</td> <td valign="center" align="center">1g-A+ + 1g-F = 1g-H+</td> <td valign="center" align="right"> -204.49</td> <td valign="center" align="right"> -135.12</td> <td valign="center" align="right"> -193.44</td> <td valign="center" align="right"> -58.36</td> </tr>
 <tr> <td>22</td> <td valign="center" align="center">1g-H+ = 1g-G+</td> <td valign="center" align="right"> 133.24</td> <td valign="center" align="right"> 116.66</td> <td valign="center" align="right"> 123.34</td> <td valign="center" align="right"> 6.69</td> </tr>
<table>
