<h3></h3>
<table border=1>
 <tr> <td>N</td> <td valign="center" align="center">Reaction </td> <td valign="center" align="right"> dE</td> <td valign="center" align="right"> dG 298.15</td> <td valign="center" align="right"> dH 298.15</td> <td valign="center" align="right"> dS*298.15</td> </tr>
 <tr bgcolor="#eeeeee"> <td>1</td> <td valign="center" align="center">Ph-N<sub>2</sub>+ + TfO- = Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -365.15</td> <td valign="center" align="right"> -316.70</td> <td valign="center" align="right"> -360.78</td> <td valign="center" align="right"> -44.12</td> </tr>
 <tr> <td>2</td> <td valign="center" align="center">2-HOOC-4-Br-Ph-N<sub>2</sub>+ + TfO- = 2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -369.74</td> <td valign="center" align="right"> -322.28</td> <td valign="center" align="right"> -364.92</td> <td valign="center" align="right"> -42.67</td> </tr>
 <tr bgcolor="#eeeeee"> <td>3</td> <td valign="center" align="center">2-HOOC-Ph-N<sub>2</sub>+ + TfO- = 2-HOOC-Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -367.89</td> <td valign="center" align="right"> -319.97</td> <td valign="center" align="right"> -362.96</td> <td valign="center" align="right"> -43.02</td> </tr>
 <tr> <td>4</td> <td valign="center" align="center">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+ + TfO- = 2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -391.77</td> <td valign="center" align="right"> -342.08</td> <td valign="center" align="right"> -386.39</td> <td valign="center" align="right"> -44.35</td> </tr>
 <tr bgcolor="#eeeeee"> <td>5</td> <td valign="center" align="center">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+ + TfO- = 3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -406.91</td> <td valign="center" align="right"> -355.65</td> <td valign="center" align="right"> -401.25</td> <td valign="center" align="right"> -45.63</td> </tr>
 <tr> <td>6</td> <td valign="center" align="center">4-Br-Ph-N<sub>2</sub>+ + TfO- = 4-Br-Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -375.52</td> <td valign="center" align="right"> -329.79</td> <td valign="center" align="right"> -370.80</td> <td valign="center" align="right"> -41.04</td> </tr>
 <tr bgcolor="#eeeeee"> <td>7</td> <td valign="center" align="center">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+ + TfO- = 4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -348.53</td> <td valign="center" align="right"> -302.47</td> <td valign="center" align="right"> -343.29</td> <td valign="center" align="right"> -40.85</td> </tr>
 <tr> <td>8</td> <td valign="center" align="center">4-HOOC-Ph-N<sub>2</sub>+ + TfO- = 4-HOOC-Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -381.41</td> <td valign="center" align="right"> -333.59</td> <td valign="center" align="right"> -376.31</td> <td valign="center" align="right"> -42.74</td> </tr>
 <tr bgcolor="#eeeeee"> <td>9</td> <td valign="center" align="center">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+ + TfO- = 4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</td> <td valign="center" align="right"> -408.03</td> <td valign="center" align="right"> -357.21</td> <td valign="center" align="right"> -402.39</td> <td valign="center" align="right"> -45.21</td> </tr>
 <tr> <td>10</td> <td valign="center" align="center">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+ + TsO- = 4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs</td> <td valign="center" align="right"> -446.67</td> <td valign="center" align="right"> -399.91</td> <td valign="center" align="right"> -440.57</td> <td valign="center" align="right"> -40.69</td> </tr>
 <tr bgcolor="#eeeeee"> <td>11</td> <td valign="center" align="center">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+ + BF<sub>4</sub><sup>-</sup> = 4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></td> <td valign="center" align="right"> -438.56</td> <td valign="center" align="right"> -386.13</td> <td valign="center" align="right"> -432.81</td> <td valign="center" align="right"> -46.71</td> </tr>
<table>
