<h1>.r</h1>
<h2><a href="mol">Optimized geometry files</a></h2>
<h2><a href="out">Out files</a></h2>
<table border=1>
 <tr> <td>&#8470;</td> <td>Reaction</td> <td>dE0</td> <td>dG 298.15</td> <td>dH 298.15</td> <td>dS*T 298.15</td>  </tr>
