<h1>Diazo-2KA+</h1>
<table border=1>
 <tr> <td>&#8470;</td> <td>Reaction</td> <td>dE0</td> <td>dG 298.15</td> <td>dH 298.15</td> <td>dS*T 298.15</td>  </tr>
 <tr><td><a href="#r1">1</a></td><td><a href="mol/x2-Ph-N2-OTf-v1.mol">x2-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/Ph-N2+.mol">Ph-N<sub>2</sub>+</a> + <a href="mol/Ph-N2-OTf.mol">Ph-N<sub>2</sub>-OTf</a></td><td>138.67</td> <td>96.35</td> <td>132.33</td> <td>36.00</td> </tr>
 <tr><td><a href="#r2">2</a></td><td><a href="mol/x2-Ph-N2-OTf-v2.mol">x2-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/Ph-N2+.mol">Ph-N<sub>2</sub>+</a> + <a href="mol/Ph-N2-OTf.mol">Ph-N<sub>2</sub>-OTf</a></td><td>136.29</td> <td>94.47</td> <td>130.01</td> <td>35.57</td> </tr>
 <tr><td><a href="#r3">3</a></td><td><a href="mol/x2-2-NO2-Ph-N2-OTf-v1.mol">x2-2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/2-NO2-Ph-N2+.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/2-NO2-Ph-N2-OTf.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></td><td>130.34</td> <td>91.37</td> <td>124.74</td> <td>33.39</td> </tr>
 <tr><td><a href="#r4">4</a></td><td><a href="mol/x2-2-NO2-Ph-N2-OTf-v2.mol">x2-2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/2-NO2-Ph-N2+.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/2-NO2-Ph-N2-OTf.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></td><td>127.06</td> <td>86.73</td> <td>121.67</td> <td>34.96</td> </tr>
 <tr><td><a href="#r5">5</a></td><td><a href="mol/x2-3-NO2-Ph-N2-OTf-v1.mol">x2-3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/3-NO2-Ph-N2+.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/3-NO2-Ph-N2-OTf.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></td><td>126.86</td> <td>88.16</td> <td>121.30</td> <td>33.16</td> </tr>
 <tr><td><a href="#r6">6</a></td><td><a href="mol/x2-3-NO2-Ph-N2-OTf-v2.mol">x2-3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/3-NO2-Ph-N2+.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/3-NO2-Ph-N2-OTf.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></td><td>124.17</td> <td>83.95</td> <td>118.60</td> <td>34.67</td> </tr>
 <tr><td><a href="#r7">7</a></td><td><a href="mol/x2-4-NO2-Ph-N2-OTf-v1.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-OTf.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></td><td>125.53</td> <td>86.86</td> <td>119.96</td> <td>33.12</td> </tr>
 <tr><td><a href="#r8">8</a></td><td><a href="mol/x2-4-NO2-Ph-N2-OTf-v2.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-OTf.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></td><td>125.97</td> <td>83.76</td> <td>120.13</td> <td>36.39</td> </tr>
 <tr><td><a href="#r9">9</a></td><td><a href="mol/x2-4-NO2-Ph-N2-OTs-v1.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs-v1</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-OTs.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs</a></td><td>134.44</td> <td>89.60</td> <td>128.47</td> <td>38.89</td> </tr>
 <tr><td><a href="#r10">10</a></td><td><a href="mol/x2-4-NO2-Ph-N2-OTs-v2.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs-v2</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-OTs.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs</a></td><td>132.80</td> <td>89.23</td> <td>126.93</td> <td>37.73</td> </tr>
 <tr><td><a href="#r11">11</a></td><td><a href="mol/x2-4-NO2-Ph-N2-BF4-v1.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub><sup>-</sup>v1</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-BF4.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a></td><td>141.89</td> <td>93.74</td> <td>135.82</td> <td>42.11</td> </tr>
 <tr><td><a href="#r12">12</a></td><td><a href="mol/x2-4-NO2-Ph-N2-BF4-v2.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub><sup>-</sup>v2</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-BF4.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a></td><td>145.01</td> <td>97.17</td> <td>138.71</td> <td>41.56</td> </tr>
 <tr><td><a href="#r13">13</a></td><td><a href="mol/x2-4-CH3O-Ph-N2-OTf-v1.mol">x2-4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/4-CH3O-Ph-N2+.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+</a> + <a href="mol/4-CH3O-Ph-N2-OTf.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf</a></td><td>129.79</td> <td>85.81</td> <td>124.36</td> <td>38.58</td> </tr>
 <tr><td><a href="#r14">14</a></td><td><a href="mol/x2-4-CH3O-Ph-N2-OTf-v2.mol">x2-4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/4-CH3O-Ph-N2+.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+</a> + <a href="mol/4-CH3O-Ph-N2-OTf.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf</a></td><td>126.29</td> <td>85.43</td> <td>121.02</td> <td>35.61</td> </tr>
 <tr><td><a href="#r15">15</a></td><td><a href="mol/x2-4-HOOC-Ph-N2-OTf-v1.mol">x2-4-HOOC-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/4-HOOC-Ph-N2+.mol">4-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/4-HOOC-Ph-N2-OTf.mol">4-HOOC-Ph-N<sub>2</sub>-OTf</a></td><td>127.96</td> <td>83.97</td> <td>121.92</td> <td>37.96</td> </tr>
 <tr><td><a href="#r16">16</a></td><td><a href="mol/x2-4-HOOC-Ph-N2-OTf-v2.mol">x2-4-HOOC-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/4-HOOC-Ph-N2+.mol">4-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/4-HOOC-Ph-N2-OTf.mol">4-HOOC-Ph-N<sub>2</sub>-OTf</a></td><td>124.64</td> <td>86.54</td> <td>118.59</td> <td>32.07</td> </tr>
 <tr><td><a href="#r17">17</a></td><td><a href="mol/x2-4-Br-Ph-N2-OTf-v1.mol">x2-4-Br-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/4-Br-Ph-N2+.mol">4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/4-Br-Ph-N2-OTf.mol">4-Br-Ph-N<sub>2</sub>-OTf</a></td><td>127.78</td> <td>83.54</td> <td>121.78</td> <td>38.27</td> </tr>
 <tr><td><a href="#r18">18</a></td><td><a href="mol/x2-4-Br-Ph-N2-OTf-v2.mol">x2-4-Br-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/4-Br-Ph-N2+.mol">4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/4-Br-Ph-N2-OTf.mol">4-Br-Ph-N<sub>2</sub>-OTf</a></td><td>125.90</td> <td>82.48</td> <td>120.05</td> <td>37.59</td> </tr>
 <tr><td><a href="#r19">19</a></td><td><a href="mol/x2-2-HOOC-Ph-N2-OTf-v1.mol">x2-2-HOOC-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/2-HOOC-Ph-N2+.mol">2-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/2-HOOC-Ph-N2-OTf.mol">2-HOOC-Ph-N<sub>2</sub>-OTf</a></td><td>127.07</td> <td>86.05</td> <td>121.06</td> <td>35.04</td> </tr>
 <tr><td><a href="#r20">20</a></td><td><a href="mol/x2-2-HOOC-Ph-N2-OTf-v2.mol">x2-2-HOOC-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/2-HOOC-Ph-N2+.mol">2-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/2-HOOC-Ph-N2-OTf.mol">2-HOOC-Ph-N<sub>2</sub>-OTf</a></td><td>115.03</td> <td>75.08</td> <td>109.45</td> <td>34.40</td> </tr>
 <tr><td><a href="#r21">21</a></td><td><a href="mol/x2-2-HOOC-4-Br-Ph-N2-OTf-v1.mol">x2-2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/2-HOOC-4-Br-Ph-N2+.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/2-HOOC-4-Br-Ph-N2-OTf.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf</a></td><td>125.14</td> <td>83.23</td> <td>119.14</td> <td>35.93</td> </tr>
 <tr><td><a href="#r22">22</a></td><td><a href="mol/x2-2-HOOC-4-Br-Ph-N2-OTf-v2.mol">x2-2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/2-HOOC-4-Br-Ph-N2+.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/2-HOOC-4-Br-Ph-N2-OTf.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf</a></td><td>113.96</td> <td>73.36</td> <td>108.35</td> <td>35.01</td> </tr>
</table>
<h3 id="r1">Reaction: <a href="mol/x2-Ph-N2-OTf-v1.mol">x2-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/Ph-N2+.mol">Ph-N<sub>2</sub>+</a> + <a href="mol/Ph-N2-OTf.mol">Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-4314745.98</td> <td>-4314307.10</td> <td>-4314084.27</td> <td>222.98</td> <td>Group N12-N11-C1 Distance C-N=1.3834 Distance N-N=1.1149 Angle=176.98<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0045<br>
Group N33-N32-C23 Distance C-N=1.3844 Distance N-N=1.1152 Angle=174.68<br>
Ring C23-C22-C24-C26-C28-C25 SumAnges=720.00(100.00%) SumDistance=0.0052<br>
LUMO=-0.23319<br>
HOMO=-0.35337<br>
</td> </tr>
 <tr><td>Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-894914.73</td> <td>-894733.79</td> <td>-894635.68</td> <td>98.17</td> <td>Group N9-N8-C2 Distance C-N=1.3751 Distance N-N=1.1154 Angle=180.00<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29622<br>
HOMO=-0.45869<br>
</td> </tr>
 <tr><td>Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3419692.58</td> <td>-3419476.96</td> <td>-3419316.26</td> <td>160.81</td> <td>Group N11-N10-C2 Distance C-N=1.3963 Distance N-N=1.1376 Angle=153.17<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0020<br>
LUMO=-0.13485<br>
HOMO=-0.25474<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>138.67</td> <td>96.35</td> <td>132.33</td> <td>36.00</td></tr>
</table><br>
<h3 id="r2">Reaction: <a href="mol/x2-Ph-N2-OTf-v2.mol">x2-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/Ph-N2+.mol">Ph-N<sub>2</sub>+</a> + <a href="mol/Ph-N2-OTf.mol">Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-4314743.59</td> <td>-4314305.22</td> <td>-4314081.96</td> <td>223.41</td> <td>Group N12-N11-C1 Distance C-N=1.3848 Distance N-N=1.1158 Angle=174.49<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0028<br>
Group N33-N32-C23 Distance C-N=1.3798 Distance N-N=1.1123 Angle=179.53<br>
Ring C23-C22-C24-C26-C28-C25 SumAnges=720.00(100.00%) SumDistance=0.0061<br>
LUMO=-0.23789<br>
HOMO=-0.35031<br>
</td> </tr>
 <tr><td>Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-894914.73</td> <td>-894733.79</td> <td>-894635.68</td> <td>98.17</td> <td>Group N9-N8-C2 Distance C-N=1.3751 Distance N-N=1.1154 Angle=180.00<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29622<br>
HOMO=-0.45869<br>
</td> </tr>
 <tr><td>Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3419692.58</td> <td>-3419476.96</td> <td>-3419316.26</td> <td>160.81</td> <td>Group N11-N10-C2 Distance C-N=1.3963 Distance N-N=1.1376 Angle=153.17<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0020<br>
LUMO=-0.13485<br>
HOMO=-0.25474<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>136.29</td> <td>94.47</td> <td>130.01</td> <td>35.57</td></tr>
</table><br>
<h3 id="r3">Reaction: <a href="mol/x2-2-NO2-Ph-N2-OTf-v1.mol">x2-2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/2-NO2-Ph-N2+.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/2-NO2-Ph-N2-OTf.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-2-NO2-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-5388460.43</td> <td>-5388032.45</td> <td>-5387773.97</td> <td>258.66</td> <td>Group N11-N10-C1 Distance C-N=1.3893 Distance N-N=1.1135 Angle=171.19<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0029<br>
Group N31-N30-C22 Distance C-N=1.3893 Distance N-N=1.1122 Angle=169.94<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0038<br>
LUMO=-0.26099<br>
HOMO=-0.36138<br>
</td> </tr>
 <tr><td>2-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431762.81</td> <td>-1431586.26</td> <td>-1431471.52</td> <td>114.82</td> <td>Group N9-N8-C2 Distance C-N=1.3869 Distance N-N=1.1136 Angle=169.44<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0005<br>
LUMO=-0.31526<br>
HOMO=-0.47589<br>
</td> </tr>
 <tr><td>2-NO2-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3956567.28</td> <td>-3956354.82</td> <td>-3956177.72</td> <td>177.23</td> <td>Group N9-N8-C2 Distance C-N=1.3882 Distance N-N=1.1193 Angle=159.85<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0083<br>
LUMO=-0.17343<br>
HOMO=-0.24584<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>130.34</td> <td>91.37</td> <td>124.74</td> <td>33.39</td></tr>
</table><br>
<h3 id="r4">Reaction: <a href="mol/x2-2-NO2-Ph-N2-OTf-v2.mol">x2-2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/2-NO2-Ph-N2+.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/2-NO2-Ph-N2-OTf.mol">2-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-2-NO2-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-5388457.16</td> <td>-5388027.82</td> <td>-5387770.91</td> <td>257.08</td> <td>Group N11-N10-C1 Distance C-N=1.3898 Distance N-N=1.1130 Angle=171.23<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0038<br>
Group N31-N30-C22 Distance C-N=1.3886 Distance N-N=1.1118 Angle=168.84<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0037<br>
LUMO=-0.26194<br>
HOMO=-0.36149<br>
</td> </tr>
 <tr><td>2-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431762.81</td> <td>-1431586.26</td> <td>-1431471.52</td> <td>114.82</td> <td>Group N9-N8-C2 Distance C-N=1.3869 Distance N-N=1.1136 Angle=169.44<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0005<br>
LUMO=-0.31526<br>
HOMO=-0.47589<br>
</td> </tr>
 <tr><td>2-NO2-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3956567.28</td> <td>-3956354.82</td> <td>-3956177.72</td> <td>177.23</td> <td>Group N9-N8-C2 Distance C-N=1.3882 Distance N-N=1.1193 Angle=159.85<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0083<br>
LUMO=-0.17343<br>
HOMO=-0.24584<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>127.06</td> <td>86.73</td> <td>121.67</td> <td>34.96</td></tr>
</table><br>
<h3 id="r5">Reaction: <a href="mol/x2-3-NO2-Ph-N2-OTf-v1.mol">x2-3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/3-NO2-Ph-N2+.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/3-NO2-Ph-N2-OTf.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-3-NO2-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-5388479.98</td> <td>-5388053.32</td> <td>-5387793.77</td> <td>259.72</td> <td>Group N11-N10-C1 Distance C-N=1.3878 Distance N-N=1.1142 Angle=177.00<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0053<br>
Group N31-N30-C22 Distance C-N=1.3886 Distance N-N=1.1145 Angle=175.08<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0059<br>
LUMO=-0.25577<br>
HOMO=-0.3725<br>
</td> </tr>
 <tr><td>3-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431766.76</td> <td>-1431591.51</td> <td>-1431475.71</td> <td>115.88</td> <td>Group N10-N9-C2 Distance C-N=1.3800 Distance N-N=1.1142 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.31471<br>
HOMO=-0.45006<br>
</td> </tr>
 <tr><td>3-NO2-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3956586.37</td> <td>-3956373.65</td> <td>-3956196.76</td> <td>177.00</td> <td>Group N10-N9-C2 Distance C-N=1.3928 Distance N-N=1.1201 Angle=169.48<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=719.99(100.00%) SumDistance=0.0231<br>
LUMO=-0.15533<br>
HOMO=-0.25957<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>126.86</td> <td>88.16</td> <td>121.30</td> <td>33.16</td></tr>
</table><br>
<h3 id="r6">Reaction: <a href="mol/x2-3-NO2-Ph-N2-OTf-v2.mol">x2-3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/3-NO2-Ph-N2+.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/3-NO2-Ph-N2-OTf.mol">3-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-3-NO2-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-5388477.29</td> <td>-5388049.11</td> <td>-5387791.07</td> <td>258.21</td> <td>Group N11-N10-C1 Distance C-N=1.3898 Distance N-N=1.1154 Angle=173.29<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0016<br>
Group N31-N30-C22 Distance C-N=1.3843 Distance N-N=1.1111 Angle=179.54<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0070<br>
LUMO=-0.26064<br>
HOMO=-0.36984<br>
</td> </tr>
 <tr><td>3-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431766.76</td> <td>-1431591.51</td> <td>-1431475.71</td> <td>115.88</td> <td>Group N10-N9-C2 Distance C-N=1.3800 Distance N-N=1.1142 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.31471<br>
HOMO=-0.45006<br>
</td> </tr>
 <tr><td>3-NO2-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3956586.37</td> <td>-3956373.65</td> <td>-3956196.76</td> <td>177.00</td> <td>Group N10-N9-C2 Distance C-N=1.3928 Distance N-N=1.1201 Angle=169.48<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=719.99(100.00%) SumDistance=0.0231<br>
LUMO=-0.15533<br>
HOMO=-0.25957<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>124.17</td> <td>83.95</td> <td>118.60</td> <td>34.67</td></tr>
</table><br>
<h3 id="r7">Reaction: <a href="mol/x2-4-NO2-Ph-N2-OTf-v1.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-OTf.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-NO2-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-5388473.60</td> <td>-5388049.73</td> <td>-5387787.88</td> <td>262.03</td> <td>Group N11-N10-C1 Distance C-N=1.3895 Distance N-N=1.1144 Angle=175.72<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0043<br>
Group N31-N30-C22 Distance C-N=1.3898 Distance N-N=1.1144 Angle=174.61<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0058<br>
LUMO=-0.26303<br>
HOMO=-0.37249<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3956584.40</td> <td>-3956373.29</td> <td>-3956195.05</td> <td>178.35</td> <td>Group N14-N13-C2 Distance C-N=1.3935 Distance N-N=1.1203 Angle=168.76<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=719.99(100.00%) SumDistance=0.0258<br>
LUMO=-0.16615<br>
HOMO=-0.26137<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>125.53</td> <td>86.86</td> <td>119.96</td> <td>33.12</td></tr>
</table><br>
<h3 id="r8">Reaction: <a href="mol/x2-4-NO2-Ph-N2-OTf-v2.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-OTf.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-NO2-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-5388474.05</td> <td>-5388046.64</td> <td>-5387788.05</td> <td>258.76</td> <td>Group N11-N10-C1 Distance C-N=1.3907 Distance N-N=1.1152 Angle=173.37<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0030<br>
Group N31-N30-C22 Distance C-N=1.3842 Distance N-N=1.1111 Angle=179.31<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0059<br>
LUMO=-0.26176<br>
HOMO=-0.36983<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3956584.40</td> <td>-3956373.29</td> <td>-3956195.05</td> <td>178.35</td> <td>Group N14-N13-C2 Distance C-N=1.3935 Distance N-N=1.1203 Angle=168.76<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=719.99(100.00%) SumDistance=0.0258<br>
LUMO=-0.16615<br>
HOMO=-0.26137<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>125.97</td> <td>83.76</td> <td>120.13</td> <td>36.39</td></tr>
</table><br>
<h3 id="r9">Reaction: <a href="mol/x2-4-NO2-Ph-N2-OTs-v1.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs-v1</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-OTs.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-NO2-Ph-N2-OTs-v1</td> <td>-1.0</td> <td>298.15</td> <td>-5213518.64</td> <td>-5212834.88</td> <td>-5212553.23</td> <td>281.84</td> <td>Group N11-N10-C1 Distance C-N=1.3931 Distance N-N=1.1168 Angle=170.34<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0059<br>
Group N27-N26-C18 Distance C-N=1.3937 Distance N-N=1.1168 Angle=169.59<br>
Ring C18-C17-C19-C21-C23-C20 SumAnges=720.00(100.00%) SumDistance=0.0069<br>
LUMO=-0.25208<br>
HOMO=-0.32351<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2-OTs</td> <td>1.0</td> <td>298.15</td> <td>-3781620.53</td> <td>-3781155.69</td> <td>-3780951.90</td> <td>203.93</td> <td>LUMO=-0.13013<br>
HOMO=-0.26439<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>134.44</td> <td>89.60</td> <td>128.47</td> <td>38.89</td></tr>
</table><br>
<h3 id="r10">Reaction: <a href="mol/x2-4-NO2-Ph-N2-OTs-v2.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs-v2</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-OTs.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-NO2-Ph-N2-OTs-v2</td> <td>-1.0</td> <td>298.15</td> <td>-5213517.00</td> <td>-5212834.51</td> <td>-5212551.69</td> <td>283.01</td> <td>Group N11-N10-C1 Distance C-N=1.3884 Distance N-N=1.1165 Angle=176.37<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0107<br>
Group N27-N26-C18 Distance C-N=1.3890 Distance N-N=1.1247 Angle=161.13<br>
Ring C18-C17-C19-C21-C23-C20 SumAnges=720.00(100.00%) SumDistance=0.0009<br>
LUMO=-0.2515<br>
HOMO=-0.32592<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2-OTs</td> <td>1.0</td> <td>298.15</td> <td>-3781620.53</td> <td>-3781155.69</td> <td>-3780951.90</td> <td>203.93</td> <td>LUMO=-0.13013<br>
HOMO=-0.26439<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>132.80</td> <td>89.23</td> <td>126.93</td> <td>37.73</td></tr>
</table><br>
<h3 id="r11">Reaction: <a href="mol/x2-4-NO2-Ph-N2-BF4-v1.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub><sup>-</sup>v1</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-BF4.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-NO2-Ph-N2-BF4-v1</td> <td>-1.0</td> <td>298.15</td> <td>-3978629.96</td> <td>-3978215.40</td> <td>-3977984.32</td> <td>231.24</td> <td>Group N11-N10-C1 Distance C-N=1.3864 Distance N-N=1.1118 Angle=177.62<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0093<br>
Group N23-N22-C14 Distance C-N=1.3864 Distance N-N=1.1118 Angle=177.57<br>
Ring C14-C13-C15-C17-C19-C16 SumAnges=720.00(100.00%) SumDistance=0.0093<br>
LUMO=-0.26596<br>
HOMO=-0.4122<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2-BF4</td> <td>1.0</td> <td>298.15</td> <td>-2546724.41</td> <td>-2546532.07</td> <td>-2546375.63</td> <td>156.55</td> <td>Group N14-N13-C2 Distance C-N=1.3931 Distance N-N=1.1131 Angle=174.62<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0152<br>
LUMO=-0.17308<br>
HOMO=-0.3088<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>141.89</td> <td>93.74</td> <td>135.82</td> <td>42.11</td></tr>
</table><br>
<h3 id="r12">Reaction: <a href="mol/x2-4-NO2-Ph-N2-BF4-v2.mol">x2-4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub><sup>-</sup>v2</a> = <a href="mol/4-NO2-Ph-N2+.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>+</a> + <a href="mol/4-NO2-Ph-N2-BF4.mol">4-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-NO2-Ph-N2-BF4-v2</td> <td>-1.0</td> <td>298.15</td> <td>-3978633.09</td> <td>-3978218.83</td> <td>-3977987.20</td> <td>231.79</td> <td>Group N11-N10-C1 Distance C-N=1.3861 Distance N-N=1.1118 Angle=177.49<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0089<br>
Group N23-N22-C14 Distance C-N=1.3850 Distance N-N=1.1119 Angle=177.68<br>
Ring C14-C13-C15-C17-C19-C16 SumAnges=720.00(100.00%) SumDistance=0.0090<br>
LUMO=-0.26649<br>
HOMO=-0.41215<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1431763.67</td> <td>-1431589.59</td> <td>-1431472.86</td> <td>116.80</td> <td>Group N14-N13-C2 Distance C-N=1.3808 Distance N-N=1.1140 Angle=179.99<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0001<br>
LUMO=-0.32018<br>
HOMO=-0.44746<br>
</td> </tr>
 <tr><td>4-NO2-Ph-N2-BF4</td> <td>1.0</td> <td>298.15</td> <td>-2546724.41</td> <td>-2546532.07</td> <td>-2546375.63</td> <td>156.55</td> <td>Group N14-N13-C2 Distance C-N=1.3931 Distance N-N=1.1131 Angle=174.62<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0152<br>
LUMO=-0.17308<br>
HOMO=-0.3088<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>145.01</td> <td>97.17</td> <td>138.71</td> <td>41.56</td></tr>
</table><br>
<h3 id="r13">Reaction: <a href="mol/x2-4-CH3O-Ph-N2-OTf-v1.mol">x2-4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/4-CH3O-Ph-N2+.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+</a> + <a href="mol/4-CH3O-Ph-N2-OTf.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-CH3O-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-4916178.01</td> <td>-4915586.02</td> <td>-4915330.45</td> <td>255.74</td> <td>Group N11-N10-C1 Distance C-N=1.3663 Distance N-N=1.1186 Angle=177.89<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0055<br>
Group N31-N30-C22 Distance C-N=1.3670 Distance N-N=1.1191 Angle=175.58<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0058<br>
LUMO=-0.2114<br>
HOMO=-0.3389<br>
</td> </tr>
 <tr><td>4-CH3O-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1195643.49</td> <td>-1195385.63</td> <td>-1195271.50</td> <td>114.21</td> <td>Group N11-N10-C2 Distance C-N=1.3567 Distance N-N=1.1208 Angle=179.79<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.26975<br>
HOMO=-0.41657<br>
</td> </tr>
 <tr><td>4-CH3O-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3720404.73</td> <td>-3720114.58</td> <td>-3719934.59</td> <td>180.11</td> <td>Group N11-N10-C2 Distance C-N=1.3649 Distance N-N=1.1145 Angle=178.65<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0097<br>
LUMO=-0.13657<br>
HOMO=-0.22055<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>129.79</td> <td>85.81</td> <td>124.36</td> <td>38.58</td></tr>
</table><br>
<h3 id="r14">Reaction: <a href="mol/x2-4-CH3O-Ph-N2-OTf-v2.mol">x2-4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/4-CH3O-Ph-N2+.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>+</a> + <a href="mol/4-CH3O-Ph-N2-OTf.mol">4-CH<sub>3</sub>O-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-CH3O-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-4916174.51</td> <td>-4915585.65</td> <td>-4915327.12</td> <td>258.71</td> <td>Group N11-N10-C1 Distance C-N=1.3673 Distance N-N=1.1190 Angle=176.44<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0028<br>
Group N31-N30-C22 Distance C-N=1.3642 Distance N-N=1.1165 Angle=179.78<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0056<br>
LUMO=-0.2151<br>
HOMO=-0.33593<br>
</td> </tr>
 <tr><td>4-CH3O-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1195643.49</td> <td>-1195385.63</td> <td>-1195271.50</td> <td>114.21</td> <td>Group N11-N10-C2 Distance C-N=1.3567 Distance N-N=1.1208 Angle=179.79<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.26975<br>
HOMO=-0.41657<br>
</td> </tr>
 <tr><td>4-CH3O-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3720404.73</td> <td>-3720114.58</td> <td>-3719934.59</td> <td>180.11</td> <td>Group N11-N10-C2 Distance C-N=1.3649 Distance N-N=1.1145 Angle=178.65<br>
Ring C2-C1-C0-C5-C4-C3 SumAnges=720.00(100.00%) SumDistance=0.0097<br>
LUMO=-0.13657<br>
HOMO=-0.22055<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>126.29</td> <td>85.43</td> <td>121.02</td> <td>35.61</td></tr>
</table><br>
<h3 id="r15">Reaction: <a href="mol/x2-4-HOOC-Ph-N2-OTf-v1.mol">x2-4-HOOC-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/4-HOOC-Ph-N2+.mol">4-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/4-HOOC-Ph-N2-OTf.mol">4-HOOC-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-HOOC-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-5304924.22</td> <td>-5304431.00</td> <td>-5304170.08</td> <td>261.10</td> <td>Group N11-N10-C1 Distance C-N=1.3854 Distance N-N=1.1143 Angle=177.20<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0058<br>
Group N31-N30-C22 Distance C-N=1.3861 Distance N-N=1.1149 Angle=174.91<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0065<br>
LUMO=-0.24422<br>
HOMO=-0.35767<br>
</td> </tr>
 <tr><td>4-HOOC-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1390001.08</td> <td>-1389793.48</td> <td>-1389676.03</td> <td>117.53</td> <td>Group N11-N10-C1 Distance C-N=1.3764 Distance N-N=1.1152 Angle=179.88<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.30284<br>
HOMO=-0.42825<br>
</td> </tr>
 <tr><td>4-HOOC-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3914795.19</td> <td>-3914553.55</td> <td>-3914372.13</td> <td>181.54</td> <td>Group N11-N10-C1 Distance C-N=1.3903 Distance N-N=1.1232 Angle=168.17<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0208<br>
LUMO=-0.15263<br>
HOMO=-0.24737<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>127.96</td> <td>83.97</td> <td>121.92</td> <td>37.96</td></tr>
</table><br>
<h3 id="r16">Reaction: <a href="mol/x2-4-HOOC-Ph-N2-OTf-v2.mol">x2-4-HOOC-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/4-HOOC-Ph-N2+.mol">4-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/4-HOOC-Ph-N2-OTf.mol">4-HOOC-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-HOOC-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-5304920.91</td> <td>-5304433.57</td> <td>-5304166.75</td> <td>267.00</td> <td>Group N11-N10-C1 Distance C-N=1.3865 Distance N-N=1.1153 Angle=176.22<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0043<br>
Group N31-N30-C22 Distance C-N=1.3810 Distance N-N=1.1124 Angle=179.80<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0011<br>
LUMO=-0.24887<br>
HOMO=-0.35152<br>
</td> </tr>
 <tr><td>4-HOOC-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1390001.08</td> <td>-1389793.48</td> <td>-1389676.03</td> <td>117.53</td> <td>Group N11-N10-C1 Distance C-N=1.3764 Distance N-N=1.1152 Angle=179.88<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.30284<br>
HOMO=-0.42825<br>
</td> </tr>
 <tr><td>4-HOOC-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3914795.19</td> <td>-3914553.55</td> <td>-3914372.13</td> <td>181.54</td> <td>Group N11-N10-C1 Distance C-N=1.3903 Distance N-N=1.1232 Angle=168.17<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0208<br>
LUMO=-0.15263<br>
HOMO=-0.24737<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>124.64</td> <td>86.54</td> <td>118.59</td> <td>32.07</td></tr>
</table><br>
<h3 id="r17">Reaction: <a href="mol/x2-4-Br-Ph-N2-OTf-v1.mol">x2-4-Br-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/4-Br-Ph-N2+.mol">4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/4-Br-Ph-N2-OTf.mol">4-Br-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-Br-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-17815585.77</td> <td>-17815218.16</td> <td>-17814970.24</td> <td>248.08</td> <td>Group N11-N10-C1 Distance C-N=1.3780 Distance N-N=1.1161 Angle=176.96<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0063<br>
Group N31-N30-C22 Distance C-N=1.3784 Distance N-N=1.1168 Angle=174.90<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0048<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0063<br>
Ring C25-C23-C21-C22-C24-C27 SumAnges=720.00(100.00%) SumDistance=0.0048<br>
LUMO=-0.23528<br>
HOMO=-0.35419<br>
</td> </tr>
 <tr><td>4-Br-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-7645334.89</td> <td>-7645189.17</td> <td>-7645078.93</td> <td>110.32</td> <td>Group N11-N10-C1 Distance C-N=1.3678 Distance N-N=1.1176 Angle=179.97<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.29334<br>
HOMO=-0.42726<br>
</td> </tr>
 <tr><td>4-Br-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-10170123.10</td> <td>-10169945.45</td> <td>-10169769.53</td> <td>176.03</td> <td>Group N11-N10-C1 Distance C-N=1.3838 Distance N-N=1.1229 Angle=172.26<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0154<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=719.99(100.00%) SumDistance=0.0154<br>
LUMO=-0.14605<br>
HOMO=-0.2438<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>127.78</td> <td>83.54</td> <td>121.78</td> <td>38.27</td></tr>
</table><br>
<h3 id="r18">Reaction: <a href="mol/x2-4-Br-Ph-N2-OTf-v2.mol">x2-4-Br-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/4-Br-Ph-N2+.mol">4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/4-Br-Ph-N2-OTf.mol">4-Br-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-4-Br-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-17815583.90</td> <td>-17815217.10</td> <td>-17814968.51</td> <td>248.76</td> <td>Group N11-N10-C1 Distance C-N=1.3790 Distance N-N=1.1170 Angle=174.93<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0035<br>
Group N31-N30-C22 Distance C-N=1.3745 Distance N-N=1.1137 Angle=179.71<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0053<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0035<br>
Ring C25-C23-C21-C22-C24-C27 SumAnges=720.00(100.00%) SumDistance=0.0053<br>
LUMO=-0.23946<br>
HOMO=-0.35178<br>
</td> </tr>
 <tr><td>4-Br-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-7645334.89</td> <td>-7645189.17</td> <td>-7645078.93</td> <td>110.32</td> <td>Group N11-N10-C1 Distance C-N=1.3678 Distance N-N=1.1176 Angle=179.97<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0003<br>
LUMO=-0.29334<br>
HOMO=-0.42726<br>
</td> </tr>
 <tr><td>4-Br-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-10170123.10</td> <td>-10169945.45</td> <td>-10169769.53</td> <td>176.03</td> <td>Group N11-N10-C1 Distance C-N=1.3838 Distance N-N=1.1229 Angle=172.26<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0154<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=719.99(100.00%) SumDistance=0.0154<br>
LUMO=-0.14605<br>
HOMO=-0.2438<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>125.90</td> <td>82.48</td> <td>120.05</td> <td>37.59</td></tr>
</table><br>
<h3 id="r19">Reaction: <a href="mol/x2-2-HOOC-Ph-N2-OTf-v1.mol">x2-2-HOOC-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/2-HOOC-Ph-N2+.mol">2-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/2-HOOC-Ph-N2-OTf.mol">2-HOOC-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-2-HOOC-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-5304934.47</td> <td>-5304440.86</td> <td>-5304179.87</td> <td>261.16</td> <td>Group N11-N10-C1 Distance C-N=1.3914 Distance N-N=1.1129 Angle=173.21<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0031<br>
Group N31-N30-C22 Distance C-N=1.3917 Distance N-N=1.1117 Angle=172.18<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0037<br>
LUMO=-0.23698<br>
HOMO=-0.34527<br>
</td> </tr>
 <tr><td>2-HOOC-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1390013.40</td> <td>-1389804.17</td> <td>-1389688.02</td> <td>116.23</td> <td>Group N11-N10-C1 Distance C-N=1.3884 Distance N-N=1.1135 Angle=170.70<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29406<br>
HOMO=-0.45498<br>
</td> </tr>
 <tr><td>2-HOOC-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3914793.99</td> <td>-3914550.63</td> <td>-3914370.79</td> <td>179.97</td> <td>Group N11-N10-C1 Distance C-N=1.3941 Distance N-N=1.1203 Angle=163.02<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0161<br>
LUMO=-0.14681<br>
HOMO=-0.23998<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>127.07</td> <td>86.05</td> <td>121.06</td> <td>35.04</td></tr>
</table><br>
<h3 id="r20">Reaction: <a href="mol/x2-2-HOOC-Ph-N2-OTf-v2.mol">x2-2-HOOC-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/2-HOOC-Ph-N2+.mol">2-HOOC-Ph-N<sub>2</sub>+</a> + <a href="mol/2-HOOC-Ph-N2-OTf.mol">2-HOOC-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-2-HOOC-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-5304922.43</td> <td>-5304429.89</td> <td>-5304168.26</td> <td>261.80</td> <td>Group N11-N10-C1 Distance C-N=1.3870 Distance N-N=1.1128 Angle=177.62<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0061<br>
Group N31-N30-C22 Distance C-N=1.3908 Distance N-N=1.1113 Angle=170.70<br>
Ring C22-C21-C23-C25-C27-C24 SumAnges=720.00(100.00%) SumDistance=0.0048<br>
LUMO=-0.24003<br>
HOMO=-0.34823<br>
</td> </tr>
 <tr><td>2-HOOC-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-1390013.40</td> <td>-1389804.17</td> <td>-1389688.02</td> <td>116.23</td> <td>Group N11-N10-C1 Distance C-N=1.3884 Distance N-N=1.1135 Angle=170.70<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29406<br>
HOMO=-0.45498<br>
</td> </tr>
 <tr><td>2-HOOC-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-3914793.99</td> <td>-3914550.63</td> <td>-3914370.79</td> <td>179.97</td> <td>Group N11-N10-C1 Distance C-N=1.3941 Distance N-N=1.1203 Angle=163.02<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0161<br>
LUMO=-0.14681<br>
HOMO=-0.23998<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>115.03</td> <td>75.08</td> <td>109.45</td> <td>34.40</td></tr>
</table><br>
<h3 id="r21">Reaction: <a href="mol/x2-2-HOOC-4-Br-Ph-N2-OTf-v1.mol">x2-2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf-v1</a> = <a href="mol/2-HOOC-4-Br-Ph-N2+.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/2-HOOC-4-Br-Ph-N2-OTf.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-2-HOOC-4-Br-Ph-N2-OTf-v1</td> <td>-1.0</td> <td>298.15</td> <td>-18805771.07</td> <td>-18805347.36</td> <td>-18805062.68</td> <td>284.87</td> <td>Group N10-N9-C1 Distance C-N=1.3856 Distance N-N=1.1135 Angle=173.28<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0061<br>
Group N29-N28-C21 Distance C-N=1.3854 Distance N-N=1.1128 Angle=173.33<br>
Ring C21-C20-C22-C24-C26-C23 SumAnges=720.00(100.00%) SumDistance=0.0056<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0061<br>
Ring C24-C22-C20-C21-C23-C26 SumAnges=720.00(100.00%) SumDistance=0.0056<br>
LUMO=-0.23941<br>
HOMO=-0.34605<br>
</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-8140431.75</td> <td>-8140257.68</td> <td>-8140129.41</td> <td>128.36</td> <td>Group N10-N9-C1 Distance C-N=1.3793 Distance N-N=1.1153 Angle=171.69<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29247<br>
HOMO=-0.42611<br>
</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-10665214.19</td> <td>-10665006.44</td> <td>-10664814.13</td> <td>192.44</td> <td>Group N10-N9-C1 Distance C-N=1.3903 Distance N-N=1.1212 Angle=163.01<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0165<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=719.99(100.00%) SumDistance=0.0165<br>
LUMO=-0.15195<br>
HOMO=-0.24292<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>125.14</td> <td>83.23</td> <td>119.14</td> <td>35.93</td></tr>
</table><br>
<h3 id="r22">Reaction: <a href="mol/x2-2-HOOC-4-Br-Ph-N2-OTf-v2.mol">x2-2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf-v2</a> = <a href="mol/2-HOOC-4-Br-Ph-N2+.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>+</a> + <a href="mol/2-HOOC-4-Br-Ph-N2-OTf.mol">2-HOOC-4-Br-Ph-N<sub>2</sub>-OTf</a></h3>
<table border=1> 
<tr><td>Name</td> <td>k</td> <td>T</td> <td>E0</td> <td>G</td> <td>H</td> <td>S*T</td> <td>Properties</td> </tr>
 <tr><td>x2-2-HOOC-4-Br-Ph-N2-OTf-v2</td> <td>-1.0</td> <td>298.15</td> <td>-18805759.90</td> <td>-18805337.49</td> <td>-18805051.89</td> <td>285.79</td> <td>Group N10-N9-C1 Distance C-N=1.3809 Distance N-N=1.1142 Angle=177.80<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0082<br>
Group N29-N28-C21 Distance C-N=1.3842 Distance N-N=1.1120 Angle=171.64<br>
Ring C21-C20-C22-C24-C26-C23 SumAnges=720.00(100.00%) SumDistance=0.0066<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0082<br>
Ring C24-C22-C20-C21-C23-C26 SumAnges=720.00(100.00%) SumDistance=0.0066<br>
LUMO=-0.24247<br>
HOMO=-0.34939<br>
</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph-N2+</td> <td>1.0</td> <td>298.15</td> <td>-8140431.75</td> <td>-8140257.68</td> <td>-8140129.41</td> <td>128.36</td> <td>Group N10-N9-C1 Distance C-N=1.3793 Distance N-N=1.1153 Angle=171.69<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=720.00(100.00%) SumDistance=0.0000<br>
LUMO=-0.29247<br>
HOMO=-0.42611<br>
</td> </tr>
 <tr><td>2-HOOC-4-Br-Ph-N2-OTf</td> <td>1.0</td> <td>298.15</td> <td>-10665214.19</td> <td>-10665006.44</td> <td>-10664814.13</td> <td>192.44</td> <td>Group N10-N9-C1 Distance C-N=1.3903 Distance N-N=1.1212 Angle=163.01<br>
Ring C1-C0-C5-C4-C3-C2 SumAnges=719.99(100.00%) SumDistance=0.0165<br>
Ring C4-C3-C2-C1-C0-C5 SumAnges=719.99(100.00%) SumDistance=0.0165<br>
LUMO=-0.15195<br>
HOMO=-0.24292<br>
</td> </tr>
</table><br>
</h3>
<table border=1> 
<tr><td>T</td> <td>dE</td> <td>dG</td> <td>dH</td> <td>dS*T</td></tr>
 <tr><td>298.15</td> <td>113.96</td> <td>73.36</td> <td>108.35</td> <td>35.01</td></tr>
</table><br>
